body{
margin: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: radial-gradient(#0b2c5f);
text-align: center;
font-family:'poppins', sans-serif;
}

.login-container{
background: rgb(255,255,255,0.15);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
border-radius: 12px;
padding: 30px;
width: 340px;
box-shadow: 0 8px 32px rgba(0,0,0,0.25);
}

h1{
text-align: center;
color: white;
margin-bottom: 25px;
letter-spacing: 4px;
}

label{
display: block;
color: #fff;
font-size: 13px;
margin-bottom: 6px;
}

input{
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
}

input::placeholder{
    color: black;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: white;
    color: #0b2c5f;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background:lightgreen;
}

.error{
    color: #ff4d4d;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

.password-box{
    position: relative;
}

.password-box span{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

button.loading{
    background: gray;
    cursor: not-allowed;
}